.loginBody{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #21222D;
    padding: 70px;
    width: max-content;
    border-radius: 25px;
}
.login__title{
    color: white;
    padding: 10px;
    /*margin: 10px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login__form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*margin: 20px;*/
    /*padding: 20px;*/
    padding-left: 20px;
    padding-right: 32px;
}
.login__form__inputs{
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 10px;
    justify-content: center;
    align-items: center;

}
.login__form__inputs input{
    border: none;
    outline: none;
    padding: 10px;
    margin: 10px;
    background-color: #171821;
    width: 150%;
    color: white;
    border-radius: 10px;
}
.login__form__submit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login__form__submit button{
    border: none;
    outline: none;
    padding: 10px;
    margin: 10px;
    background-color: #171821;
    color: white;
    width: 110%;
    border-radius: 10px;
}
.form__submit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form__submit button{
    border: none;
    outline: none;
    padding: 10px;
    margin: 10px;
    background-color: #171821;
    color: white;
    /*width: 110%;*/
    border-radius: 10px;
}
.forgot{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.forgot a{
    color: white;
    padding: 10px;
}
.FormBox{
    display: flex;
    flex-direction: column;
}
.FormTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /*padding-left: 30px;*/
    /*padding-right: 30px;*/
}
.FormTitle button{
    border: none;
    outline: none;
    padding: 10px;
    margin: 10px;
    background-color: #171821;
    color: white;
    width: 110%;
    border-radius: 10px;
}
.FormFields{
    display: flex;
    flex-direction: row;
}
.form__inputs{
    display: flex;
    flex-direction: column;
    margin: 10px;
    /*gap: 10px;*/
    justify-content: space-around;
    align-items: center;

}
.form__inputs input{
    border: none;
    outline: none;
    padding: 10px;
    margin: 10px;
    background-color: #171821;
    /*width: 150%;*/
    color: white;
    border-radius: 10px;
}
.App{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    color: white;
    margin: 20px;
    padding: 20px;
    background-color: #21222D;
    /*justify-content: space-evenly;*/
}
.FormCon{
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    color: white;
    margin: 20px;
    padding: 20px;
    background-color: #21222D;
    /*justify-content: space-evenly;*/
}

.App-content {
    padding: 20px;
    display: flex;
    flex-direction: row;

    gap: 50px;
}


.container{
    display: flex;
    height: 100vh;
}
.sidebar{
    /*margin-top: 10px;*/
    width: 220px;
    padding: 20px;
    border-right: 1px solid white;
    color: white;
}
.user__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}
.user__avatar{
    height: 50px;
    padding: 10px;
    margin: 10px;
}
.user__avatar img{
    border-radius: 35px;
    height: 50px;
}
.user__name{
    /*padding: 10px;*/
    margin: 10px;
}
.user__role{
    /*padding: 10px;*/
    margin: 10px;
}
.options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
    color: white;
}
.options button{
    border: none;
    outline: none;
    padding: 10px;
    margin: 10px;
    background-color: #21222D;
    color: white;
}
.header{
    background-color: transparent;
    color: white;
    display: flex;
    /*width: 100%;*/
     justify-content: space-between;
    margin-left: 220px;
    /*margin: auto;*/
    /*padding: 1vh;*/
}
.header__logo{
    margin-right: 10px;
    padding: 10px;
    border-radius: 35px;
}
.header__logo img{
    height: 50px;
}
.header__logo button{
    outline: none;
    border: none;
    background-color: transparent;
}
.header__college{
    display: flex;
    gap: 10px;
    margin-left: 10px;
    padding: 10px;
}
.college__title{
    padding: 10px;
}
.college__logo{
    padding: 10px;
    border-radius: 35px;
}
.college__logo img{
    height: 50px;
}
.btn{
    background-color: transparent;
    border: none;
    outline: none;
    padding: 20px;
    /*margin-left: 20px;*/
    /*margin-right: 20px;*/
    /*gap: 20px;*/

}
.card{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 90%;
    margin: 15px;
    padding: 30px;
    background-color: #171821;
    border-radius: 20px;
}
.card-num{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-num h3{
    color: aliceblue;
}
.card-til{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-til h3{
    color: aliceblue;
}
